a{
color:white;
}

table{
table-layout:fixed;
vertical-align:top;
}

tr{
vertical-align:top;
}

a:visited{
color:white;
}

.content{
margin:50px;
text-align:center;
color:#ffffff;
}

body{
background-image:url("bgp.jpg");
}

.intro{
padding-top:15px;
font-size:20px;
color:white;
text-align:left;
}

.counter{
    text-align:right;
}

.header{
}